.root-wrapper {
	margin-top: 20px;
}

.entity-form {
	width: 450px;
	display: table;
	margin: 0 auto;
}

.button-group {
	margin-left: 75px;
	margin-right: 75px;
	padding-right: 20px;
}

.wrapper-entity-form {
	width: 550px;
	border: 1px solid #d3d1d1;
	padding: 5px;
	border-radius: 10px;
}

.btn-element {
	margin-right: 10px;
}

img {
	width: 20px;
	height: 20px;
}
.error-field {
	border: 1px solid #a94442;
}

.error-msg {
	color: #a94442;
}

.clickable {
	cursor: pointer;
}

.invisible {
	display: none;
}

a {
	padding-right: 10px;
}

.add-entity-icon {
	float: right;
}

.rte {
	overflow: scroll; 
	height: 235px;
	max-width: 500px;
}

li.clickable:hover {
	background-color: #f8f8f8;
}

.entity-menu-list {
	max-height: 500px;
	overflow: scroll;
}