mongo.username=mongo-username
mongo.password=mongo-password
mongo.dbName=mongo-dbname
mongo.hostName=mongo-hostname
mongo.portNumber=mongo-portnumber
mongo.isDebugMode=false

activemq.url=your-activemq-url
activemq.destQueue=activemq-destname
activemq.username=activemq-username
activemq.password=activemq-password