<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iPersonal</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/chosen/dist/chosen.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/datepicker/dist/datepicker.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="vendor/rte/dist/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="vendor/rte/dist/prettify.css" type="text/css">
    <link href="custom/css/index.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <script type="text/template" id="username-template">
        <span><%= username %></span>
    </script>
    <script type="text/template" id="side-menu-template">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav">
                    <li><a href="#" data-entity="bookmark">Bookmarks (<%= bookmarks %>)
                        <img id="bookmark-add-icon" class="add-entity-icon" data-entity="bookmark"
                             src="custom/images/plus.png"/></a>
                    </li>
                    <li><a href="#" data-entity="note">Notes (<%= notes %>)
                        <img id="note-add-icon" class="add-entity-icon" data-entity="note"
                             src="custom/images/plus.png"/></a>
                    </li>
                    <li><a href="#" data-entity="pin">Pins (<%= pins %>)
                        <img id="pin-add-icon" class="add-entity-icon" data-entity="pin"
                             src="custom/images/plus.png"/></a>
                    </li>
                    <li>
                        <a href="#" data-entity="todo">Todos (<%= todos %>)
                            <img id="todo-add-icon" class="add-entity-icon" data-entity="todo"
                                 src="custom/images/plus.png"/></a>
                    </li>
                    <li>
                        <a href="#" data-entity="diary">Diaries (<%= diaries %>)
                            <img id="diary-add-icon" class="add-entity-icon" data-entity="diary"
                                 src="custom/images/plus.png"/></a>
                    </li>
                    <li>
                        <a href="#" data-entity="expense">Expenses (<%= expenses %>)
                            <img id="expense-add-icon" class="add-entity-icon" data-entity="expense"
                                 src="custom/images/plus.png"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/template" id="bookmark-create-template">
        <div class="panel panel-default entity-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="custom/images/bookmark.png"/>
                    <i>Bookmark</i>
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" id="bookmark-form" action="#">
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Title"/>
                        <span class="name-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="url" placeholder="URL"/>
                        <span class="url-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" rows="7"
                                  placeholder="Description goes here"></textarea>
                        <span class="description-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <img id="book-tag-img" class="clickable" title="Add Tags"
                             src="custom/images/tag.png"/>
                    </div>
                    <div class="form-group invisible">
                        <select id="bookmark-tag" multiple="multiple" class="form-control chosen-menu"
                                data-placeholder="search tags">
                        </select>
                    </div>
                    <div class="button-group">
                        <button id="book-submit" type="submit" class="btn btn-success btn-element">
                            Create
                        </button>
                        <button id="book-cancel" type="submit" class="btn btn-link btn-element">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="note-create-template">
        <div class="panel panel-default entity-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="custom/images/note.png"/>
                    <i>Note</i>
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" id="note-form" action="#">
                    <div class="form-group">
                        <input class="form-control" name="title" placeholder="Title"/>
                        <span class="title-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#note">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                                        class="icon-font"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
                                    <li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                                    <li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
                                    <li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial
                                        Black</a></li>
                                    <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
                                    <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
                                    <li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier
                                        New</a></li>
                                    <li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic
                                        Sans MS</a></li>
                                    <li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a>
                                    </li>
                                    <li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li>
                                    <li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida
                                        Grande</a></li>
                                    <li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida
                                        Sans</a></li>
                                    <li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
                                    <li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li>
                                    <li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times
                                        New Roman</a></li>
                                    <li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                        class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn bold" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                                <a class="btn italic" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                        class="icon-italic"></i></a>
                                <a class="btn underline" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                        class="icon-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                                        class="icon-list-ul"></i></a>
                                <a class="btn" data-edit="insertorderedlist" title="Number list"><i
                                        class="icon-list-ol"></i></a>
                                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                        class="icon-indent-left"></i></a>
                                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                        class="icon-align-left"></i></a>
                                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                        class="icon-align-center"></i></a>
                                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                        class="icon-align-right"></i></a>
                                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                        class="icon-align-justify"></i></a>
                            </div>
                        </div>
                        <div id="note" class="form-control rte" name="note">
                        </div>
                        <span class="note-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <img id="note-tag-img" class="clickable" title="Add Tags"
                             src="custom/images/tag.png"/>
                    </div>
                    <div class="form-group invisible">
                        <select id="note-tag" multiple="multiple" class="form-control chosen-menu"
                                data-placeholder="search tags">
                        </select>
                    </div>
                    <div class="button-group">
                        <button id="note-submit" type="submit" class="btn btn-success btn-element">
                            Create
                        </button>
                        <button id="note-cancel" type="submit" class="btn btn-link btn-element">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="pin-create-template">
        <div class="panel panel-default entity-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="custom/images/pin.png"/>
                    <i>Pin</i>
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" id="pin-form" action="#">
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Title"/>
                        <span class="name-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="imageUrl" placeholder="Image URL"/>
                        <span class="imageUrl-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" rows="7"
                                  placeholder="Description goes here"></textarea>
                        <span class="description-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <img id="pin-tag-img" class="clickable" title="Add Tags"
                             src="custom/images/tag.png"/>
                    </div>
                    <div class="form-group invisible">
                        <select id="pin-tag" multiple="multiple" class="form-control chosen-menu"
                                data-placeholder="search tags">
                        </select>
                    </div>
                    <div class="button-group">
                        <button id="pin-submit" type="submit" class="btn btn-success btn-element">
                            Create
                        </button>
                        <button id="pin-cancel" type="submit" class="btn btn-link btn-element">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="diary-create-template">
        <div class="panel panel-default entity-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="custom/images/diary.png"/>
                    <i>Diary</i>
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" id="diary-form" action="#">
                    <div class="form-group">
                        <input class="form-control" name="title" placeholder="Title"/>
                        <span class="title-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control datepicker" name="date"
                               placeholder="Select a date"/>
                        <span class="date-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#diary">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                                        class="icon-font"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
                                    <li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                                    <li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
                                    <li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial
                                        Black</a></li>
                                    <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
                                    <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
                                    <li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier
                                        New</a></li>
                                    <li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic
                                        Sans MS</a></li>
                                    <li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a>
                                    </li>
                                    <li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li>
                                    <li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida
                                        Grande</a></li>
                                    <li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida
                                        Sans</a></li>
                                    <li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
                                    <li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li>
                                    <li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times
                                        New Roman</a></li>
                                    <li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                        class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn bold" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                                <a class="btn italic" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                        class="icon-italic"></i></a>
                                <a class="btn underline" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                        class="icon-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                                        class="icon-list-ul"></i></a>
                                <a class="btn" data-edit="insertorderedlist" title="Number list"><i
                                        class="icon-list-ol"></i></a>
                                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                        class="icon-indent-left"></i></a>
                                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                                        class="icon-align-left"></i></a>
                                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                        class="icon-align-center"></i></a>
                                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                                        class="icon-align-right"></i></a>
                                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                        class="icon-align-justify"></i></a>
                            </div>
                        </div>
                        <div id="diary" class="form-control rte" name="content"></div>
                        <span class="content-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <img id="diary-tag-img" class="clickable" title="Add Tags"
                             src="custom/images/tag.png"/>
                    </div>
                    <div class="form-group invisible">
                        <select id="diary-tag" multiple="multiple" class="form-control chosen-menu"
                                data-placeholder="search tags">
                        </select>
                    </div>
                    <div class="button-group">
                        <button id="diary-submit" type="submit" class="btn btn-success btn-element">
                            Create
                        </button>
                        <button id="diary-cancel" type="submit" class="btn btn-link btn-element">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="expense-create-template">
        <div class="panel panel-default entity-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="custom/images/expense.png"/>
                    <i>Expense</i>
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" id="expense-form" action="#">
                    <div class="form-group">
                        <input class="form-control" name="title" placeholder="Title"/>
                        <span class="title-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" rows="5"
                                  placeholder="Description goes here"></textarea>
                        <span class="description-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="amount" placeholder="Amount(in Rs)"/>
                        <span class="amount-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control datepicker" name="date"
                               placeholder="Select a date"/>
                        <span class="date-error error-msg"></span>
                    </div>
                    <div class="form-group">
                        <select id="expense-category" multiple="multiple" name="categories"
                                class="form-control chosen-menu"
                                data-placeholder="search categories">
                        </select>
                    </div>
                    <div class="form-group">
                        <img id="exp-tag-img" class="clickable" title="Add Tags"
                             src="custom/images/tag.png"/>
                    </div>
                    <div class="form-group invisible">
                        <select id="expense-tag" multiple="multiple" class="form-control chosen-menu"
                                data-placeholder="search tags">
                        </select>
                    </div>
                    <div class="button-group">
                        <button id="exp-submit" type="submit" class="btn btn-success btn-element">
                            Create
                        </button>
                        <button id="exp-cancel" type="submit" class="btn btn-link btn-element">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="entity-list-template">
      <div class="panel panel-default">
         <div class="panel-heading">
            Menu
         </div>
         <div class="panel-body entity-menu-list">
            <ul class="chat">
                <% _.each(entities, function(entity){ %>
                    <li class="left clearfix clickable" data-id = '<%= entity.entityId %>' data-entity = '<%=  entity.entityType %>'>
                        <span class="chat-img pull-left">
                            <img src="custom/images/<%= entity.entityType %>.png" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">
                                    <%= entity.entityTitle %>
                                    <% if (entity.entityType == 'pin'){ %>
                                        <img src="<%= entity.url %>" height="20" width="20"/>
                                    <% } %>
                                </strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> <%= moment.unix(entity.modifiedAt/1000).fromNow() %>
                                </small>
                            </div>
                            <p>
                                <div>
                                    <% if (entity.entityType == 'bookmark'){ %>
                                        <a href = "<%= entity.url %>" target="_blank">Link</a>
                                    <%  } %>
                                </div>
                                <%= entity.entitySummary %>
                            </p>
                        </div>
                    </li>
                <% }); %>
            </ul>
         </div>
      </div>
    </script>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">iPersonal</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <input type="text" class="form-control" placeholder="Search..."/>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="username"></span>
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/iPersonal/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="side-menu"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4">
               <div id="list-wrapper"></div>
            </div>
            <div class="col-lg-7">
                <div id="entity-wrapper" class="root-wrapper">
                    <div id="bookmark-wrapper" class="invisible"></div>
                    <div id="note-wrapper" class="invisible"></div>
                    <div id="pin-wrapper" class="invisible"></div>
                    <div id="todo-wrapper"></div>
                    <div id="diary-wrapper" class="invisible"></div>
                    <div id="expense-wrapper" class="invisible"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="vendor/dist/js/sb-admin-2.js"></script>
<script type="text/javascript" src="vendor/underscore/dist/underscore.js"></script>
<script type="text/javascript" src="vendor/backbone/dist/backbone.js"></script>
<script type="text/javascript" src="vendor/chosen/dist/chosen.js"></script>
<script type="text/javascript" src="vendor/datepicker/dist/datepicker.js"></script>
<script type="text/javascript" src="vendor/rte/dist/jquery.hotkeys.js"></script>
<script type="text/javascript" src="vendor/rte/dist/prettify.js"></script>
<script type="text/javascript" src="vendor/rte/dist/bootstrap-wysiwyg.js"></script>
<script type="text/javascript" src="vendor/moment/dist/moment.min.js"></script>
<script type="text/javascript" src="custom/js/init.js"></script>
<script type="text/javascript" src="custom/js/user.js"></script>
<script type="text/javascript" src="custom/js/base.js"></script>
<script type="text/javascript" src="custom/js/tag.js"></script>
<script type="text/javascript" src="custom/js/expense_category.js"></script>
<script type="text/javascript" src="custom/js/bookmark.js"></script>
<script type="text/javascript" src="custom/js/note.js"></script>
<script type="text/javascript" src="custom/js/pin.js"></script>
<script type="text/javascript" src="custom/js/diary.js"></script>
<script type="text/javascript" src="custom/js/expense.js"></script>
<script type="text/javascript" src="custom/js/entity.js"></script>
<script type="text/javascript" src="custom/js/entity_list.js"></script>
</body>
</html>
