<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iPersonal</title>

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="vendor/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/chosen/dist/chosen.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/datepicker/dist/datepicker.min.css" rel="stylesheet" type="text/css"/>

    <link href="custom/css/index.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <script type="text/template" id="username-template">
        <span><%= username %></span>
    </script>


    <script type="text/template" id="side-menu-template">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav">
                    <li><a href="#">Bookmarks (<%= bookmarks %>)
                        <img id="bookmark-add-icon" class="add-entity-icon"
                        src="custom/images/plus.png"/></a>
                    </li>
                    <li><a href="#">Notes (<%= notes %>)
                        <img id="note-add-icon" class="add-entity-icon"
                        src="custom/images/plus.png"/></a>
                    </li>
                    <li><a href="#">Pins (<%= pins %>)
                        <img id="pin-add-icon" class="add-entity-icon"
                            src="custom/images/plus.png"/></a>
                    </li>
                    <li>
                        <a href="#">Todos (<%= todos %>)
                        <img id="todo-add-icon" class="add-entity-icon"
                            src="custom/images/plus.png"/></a>
                    </li>
                    <li>
                        <a href="#">Diaries (<%= diaries %>)
                            <img id="diary-add-icon" class="add-entity-icon"
                                src="custom/images/plus.png"/></a>
                        </li>
                        <li>
                            <a href="#">Expenses (<%= expenses %>)
                                <img id="expense-add-icon" class="add-entity-icon"
                                    src="custom/images/plus.png"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </script>

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">iPersonal</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <li>
                <input type="text" class="form-control" placeholder="Search..."/>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="username"></span>
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/iPersonal/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div id="side-menu"></div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Dashboard</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">

                <div id="entity-wrapper">
                    <div id="bookmark-wrapper">
                        <div class="panel panel-default entity-form">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <img src="custom/images/bookmark.png"/>
                                    <i>Bookmark</i>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form method="POST" id="bookmark-form" action="#">
                                    <div class="form-group">
                                        <input class="form-control" name="name" placeholder="Title"/>
                                        <span class="name-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="url" placeholder="URL"/>
                                        <span class="url-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="description" rows="3"
                                                  placeholder="Description goes here"></textarea>
                                        <span class="description-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <img id="book-tag-img" class="clickable" title="Add Tags"
                                             src="custom/images/tag.png"/>
                                    </div>
                                    <div class="form-group invisible">
                                        <select id="book-tag" multiple="multiple" class="form-control chosen-menu"
                                                data-placeholder="search tags">
                                        </select>
                                    </div>

                                    <div class="button-group">
                                        <button id="book-submit" type="submit" class="btn btn-success btn-element">
                                            Create
                                        </button>
                                        <button id="book-cancel" type="submit" class="btn btn-link btn-element">Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="note-wrapper"></div>
                    <div id="pin-wrapper"></div>
                    <div id="todo-wrapper"></div>
                    <div id="diary-wrapper"></div>
                    <div id="expense-wrapper" class="invisible">
                        <div class="panel panel-default entity-form">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <img src="custom/images/expense.jpg"/>
                                    <i>Expense</i>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form method="POST" id="expense-form" action="#">
                                    <div class="form-group">
                                        <input class="form-control" name="title" placeholder="Title"/>
                                        <span class="title-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="description" rows="3"
                                                  placeholder="Description goes here"></textarea>
                                        <span class="description-error error-msg"></span>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">Rs</span>
                                        <input class="form-control" name="amount" placeholder="Amount"/>
                                        <span class="amount-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control datepicker" name="datepicker"
                                               placeholder="Select a date"/>
                                        <span class="date-error error-msg"></span>
                                    </div>
                                    <div class="form-group">
                                        <select id="exp-category" multiple="multiple" class="form-control chosen-menu"
                                                data-placeholder="search categories">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <img id="exp-tag-img" class="clickable" title="Add Tags"
                                             src="custom/images/tag.png"/>
                                    </div>
                                    <div class="form-group invisible">
                                        <select id="exp-tag" multiple="multiple" class="form-control chosen-menu"
                                                data-placeholder="search tags">
                                        </select>
                                    </div>

                                    <div class="button-group">
                                        <button id="exp-submit" type="submit" class="btn btn-success btn-element">
                                            Create
                                        </button>
                                        <button id="exp-cancel" type="submit" class="btn btn-link btn-element">Cancel
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="vendor/dist/js/sb-admin-2.js"></script>
<script type="text/javascript" src="vendor/underscore/dist/underscore.js"></script>
<script type="text/javascript" src="vendor/backbone/dist/backbone.js"></script>
<script type="text/javascript" src="vendor/chosen/dist/chosen.js"></script>
<script type="text/javascript" src="vendor/datepicker/dist/datepicker.js"></script>

<script type="text/javascript" src="custom/js/init.js"></script>
<script type="text/javascript" src="custom/js/user.js"></script>
<script type="text/javascript" src="custom/js/tag.js"></script>
<script type="text/javascript" src="custom/js/expense_category.js"></script>
<script type="text/javascript" src="custom/js/bookmark.js"></script>
<script type="text/javascript" src="custom/js/entity.js"></script>
</body>

</html>
